<h1 *ngIf="isAddMode">Add Event</h1>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-row">
        <div class="form-group col">
            <label>Category</label>
            <select formControlName="category" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['category'].errors }">
                <option value=""></option>
                <option value="Sports">Sports</option>
                <option value="Festivals">Festivals</option>
                <option value="Conferances">Conferances</option>
                <option value="Concerets">Concerets</option>
            </select>
            <div *ngIf="submitted && f['category'].errors" class="invalid-feedback">
                <div *ngIf="f['category'].errors['required']">Category is required</div>
            </div>
        </div>
        <div class="form-group col-5">
            <label>Title</label>
            <input type="text" formControlName="title" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['title'].errors }" />
            <div *ngIf="submitted && f['title'].errors" class="invalid-feedback">
                <div *ngIf="f['title'].errors['required']">Title is required</div>
            </div>
        </div>
  
    </div>

      <div class="form-group col-12">
        <label>Description</label>
        <textarea class="form-control" id="textAreaExample1" rows="4" formControlName="description" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['description'].errors }" ></textarea>
        <div *ngIf="submitted && f['description'].errors" class="invalid-feedback">
            <div *ngIf="f['description'].errors['required']">Description is required</div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col">
            <label>Day</label>
            <input type="date" class="time-input" formControlName="day" />
            <div *ngIf="submitted && f['day'].errors" class="invalid-feedback">
                <div *ngIf="submitted && f['day']?.errors?.['required']">Day is required</div>
            </div>
        </div>
        <div class="form-group col">
            <label>Start</label>
            <input type="time" class="time-input" formControlName="start" />
            <div *ngIf="submitted && f['start'].errors" class="invalid-feedback">
                <div *ngIf="submitted && f['start']?.errors?.['required']">Start date is required</div>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-7">
            <label>Location</label>
            <input type="text" formControlName="location" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['location'].errors }" />
            <div *ngIf="submitted && f['location'].errors" class="invalid-feedback">
                <div *ngIf="f['location'].errors['required']">Location is required</div>
            </div>
        </div>
 
    
    <div class="form-group col">
        <label>URL image event</label>
            <input type="text" formControlName="image" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['image'].errors }" />
            <div *ngIf="submitted && f['image'].errors" class="invalid-feedback">
                <div *ngIf="f['image'].errors['required']">URL image is required</div>
            </div>
    </div>
</div>

    <div class="container">
  
        <div class="card">
          <div class="card-header">
            Upload csv to read
          </div>
          <div class="card-body">
      
            <input type="file" #csvReader name="Upload CSV" id="txtFileUpload" (change)="uploadListener($event)" accept=".csv" />
      
          </div>
        </div>
            
      <a href="javascript:;" *ngIf="records.length > 0" (click)="fileReset()" class="btn btn-primary">Reset </a>  
      
      {{jsondatadisplay}}
        <table class="table"  *ngIf="records.length > 0">
          <thead class="thead-dark" >
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Email</th>
              <th scope="col">Status</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let record of records;let i = index;">
              <th scope="row">{{record.id}}</th>
              <td>{{record.name}}</td>
              <td>{{record.email}}</td>
              <td>{{record.status}}</td>
            </tr>
        
          </tbody>
        </table>
      </div>
      
    <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Save
        </button>
        <a routerLink="/dashboard" class="btn btn-link">Cancel</a>
    </div>
</form>