@import "~bootstrap-icons/font/bootstrap-icons.css";
.sidenav {
    height: 100%;
    width: 60px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(222, 225, 243);
    overflow-x: hidden;
    padding-top: 20px;
    
  }
  .sidenav i {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
  }
  .main {
    margin-left: 60px; /* Same as the width of the sidenav */
    
    padding: 0px 10px;
  }
